{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3 align-bottom">
        <p><b>#{{solicitudes.id}}</b></p>
    </div>
    <div class="col-sm-6 text-center align-bottom">
        <h1>{{solicitudes.nombre}}</h1>
    </div>
    <div class="col-sm-3 text-right align-bottom">
        <p>{{solicitudes.solicitante.username}}</p>
    </div>
    <div class="col-sm-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{solicitudes.youtube}}" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="col-sm-6">
        <h4>Características </h4>
        <p><b>Valor: </b> {{solicitudes.valor}} COP</p>
        <p><b>Estado: </b> {{solicitudes.get_estado_display }}</p>
        <p><b>Categoria: </b> {{solicitudes.categoria.nombre}}</p>
    </div>
    <div class="col-sm-6"><p><b>Descripción: </b>{{solicitudes.descripcion|safe}}</p></div>
   
    <div class="col-sm-12">
    {% if request.user == solicitudes.solicitante %}
        <h3>Documentos adjuntos</h3><br>
        <a href="{% url 'prestamos:completar' solicitudes.id %}" class="plus-a"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar documento</a>
    {% elif request.user.is_authenticated %}
        <h3>¿Te intereza apoyar el proyecto?</h3>
        <a href="#" class="plus-a"><i class="fa fa-envelope" aria-hidden="true"></i>Contactar</a>
        <a href="{% url 'inversionistas:ofertar' solicitudes.id %}" class="plus-a"><i class="fa fa-money" aria-hidden="true"></i>Apoyar</a>
    {% endif %}
    </div>
</div>
{% endblock %}