{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>GreenSeed</h1>
    <p class="lead">CBV, autenticación, registros, perfiles y más</p>

    <div style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:14" class="tp-parallax-container" data-parallaxlevel="0"><div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10 start" data-x="669" data-y="386" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="3200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 14; left: 560.917px; top: 323.583px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="img/check.png" alt="" data-ww="17" data-hh="17" data-lazyload="img/check.png" style="width: 14.2511px; height: 14.2511px;">
    </div></div>
  </div>
</div>
{% endblock %}