{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <div class="col-md-12">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{% static 'core/img/Imagen2.png' %}" data-holder-rendered="true">
    </div>
    <h1></h1>

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-6">
            <img class="rounded-circle" src="{% static 'core/img/idea.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Ideas</h2>
            <p>Tienes una gran idea de proyecto, pero no tienes los recursos para impulsar tu idea. En GreenSeed puedes buscar financiamiento para tus ideas y hacerlas realidad. </p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <img class="rounded-circle" src="{% static 'core/img/invertir.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Invierte</h2>
            <p>Quieres invertir en un proyecto, pero cuentas con la totalidad del dinero para invertir en el proyecto. Con GreenSeed puedes invertir tu dinero y recibir de acuerdo a tu capital invertido y el nivel de riesgo del proyecto. </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        </div><!-- /.col-lg-12 -->
          <div class="col-lg-12">
            <p><a class="btn btn-secondary" href="#" role="button">Registarse»</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
            
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Tu idea es el abono. <span class="text-muted">Tu inversión es la semilla.</span></h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{% static 'core/img/Imagen3.png' %}" alt="500x500" style="width: 500px; height: 500px;"  data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">200 Status OK</span></h2>
            <p class="lead">.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{% static 'core/img/200StatusOK.jpeg' %}" alt="500x128" data-holder-rendered="true" style="width: 500px; height: 320px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
    
  </div>
</div>
{% endblock %}